@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&display=swap');

:root{
  box-sizing: border-box;
  --primary: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  --secondaryText: #434343;
  font-family: 'Red Rose', cursive;
}
body{
  max-width: 1440px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  /* background-color: green; */
}
/* .landing-page-comp{
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
} */

header,
.hero-section{
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header{
  margin-bottom: 12vh;
  /* margin: 0 auto; */
}
header img{
  height: 22px;
  cursor: pointer;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 48px;
}
header ul li,
header button,
header ul a{
  text-decoration: none;
  list-style: none;
  color: var(--secondaryText);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  cursor: pointer;
}
.hamburger {
  visibility: hidden;
}
header button{
  background: var(--primary);
  color: #FFFFFF;

  width: 170px;
  height: 48px;
  font-weight: 400;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  font-family: 'Red Rose', cursive;
  cursor: pointer;
}

/* hero section */
.hero-section{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  height: 65vh;
  width: 100%;
  margin-bottom: 10vh;
}
.hero-section .text{
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px;
 
  
}
.hero-title{
  font-weight: 400;
  font-size: 56px;
  line-height: 78.4px;
  letter-spacing: -2;
  color: var(--secondaryText);
  margin: 0;
  line-height: 140%;
}
span.span{
  font-family: 'Red Rose';
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.02em;

  /* MAJOR */
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero-para{
  font-size: 24px;
  line-height: 35px;
  width: 90%;
  color: var(--secondaryText);
  font-weight: 400;
}
.hero-section img{
  height: 420px;
  cursor: pointer;
}

.hero-section img:hover{
  transform: scale(1.2);
  transition: all .5s ease-in-out;
}

.search-div{
display: flex;

  height: 54px;
  width: 618.71px;
  /* border: 1px solid var(--secondaryText); */
}

.search-div input{
  max-height: 54px !important;
  width: 390px;
  border-radius: 8px 0px 0px 8px;

  border: 1px solid #A3A3A3;
}

.search-div input:placeholder-shown{
  font-size: 14px;
  line-height: 18.2px;
  padding-left: 10px;
  color:  #B8B8B8;
  font-family: 'Red Rose';
}
.search-div button{
  height: 54px;
  width: 230px;
  font-family: 'Red Rose';
  background: var(--primary);
  cursor: pointer;
  color: #FFFFFF;
  border: none;
  border-radius: 0px 8px 8px 0px;

  font-size: 16px;
  line-height: 19.2px;
  padding: 0;
}

/* hero division */
.hero-div {
  box-sizing: border-box;
  max-width: 1440px;
  height: 40px;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 264px;
  padding: 8px 100px;
}
.hero-div img{
  height: 30px;
  cursor: pointer;
}

/* landing page main content */
.landing-title{
  font-family: 'Red Rose';
  font-weight: 700;
  line-height: 60px;
  font-size: 48px;
  color: #000000;
  text-align: center;
}

/* image List */
.imageList{
  max-width: 1440px;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 62px;
}
.image-div {
  display: flex; 
  justify-content: center;
  align-items: center;
}
.image-div img{
  height: 270px;
  cursor: pointer;
}
.grid-item{
  display: flex; 
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  padding: 0;
  width: fit-content !important;
  
}
.paper{
  border-radius: 15px !important;
  width: 300px;
  padding: 26px 12px;

  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-text{
  display: flex;
  justify-content: center;
  text-align: justify;
  width: 100%;
}

.image-text p{
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #434343;
}
.right-text{
  text-align: right;
}
.right-text p:first-child{
  font-weight: 700;
}

/* Place to stay sub heading */
.place-heading{
  margin-bottom: 70px;
}
.place-heading ,
.place-heading ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 48px;
}
.place-heading ul{
  gap: 48px;
}
.place-heading Button{
  height: 48px;
  width: 161px;
  border-radius: 8px;
  border: 1px solid #B4B4B4 !important;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  color: #333333;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

}
.place-heading ul li{
  list-style: none;
  font-size: 20px;
  line-height: 25px;
  color: #434343;
  cursor: pointer;
}


/* landing page, main next */

.main-next{
  max-width: 1440px;
  height: 774px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap: 60px;

  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border: 1px solid #000000;
}

.main-next .main-text{
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-title{
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.main-body{
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.main-text button{
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
  border-radius: 8px;
  height: 48px;
  width: 156px;
  border: none;

  color: #A02279;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.main-image img:hover{
  transform: scale(1.2);
  transition: all .5s ease-in-out;
  cursor: pointer;
}
/* footer styling */

.footer-container{
  box-sizing: border-box;
  height: 322px;
  width: 100%;
  background-color: #1D1D1E;
  color: #FFFFFF;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
}

.footer-container img{
  height: 34px;
  cursor: pointer;
}

.footer-img{
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
}
.footer-img p{
  font-weight: 16px;
  font-weight: 400;
  line-height: 1;
}
.sm-icons{
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.sm-icons img{
  height: 20px;
  cursor: pointer;
}
.footer-link{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-link ul li{
  list-style: none;
  font-style: normal;
  font-size: 14px;
  line-height: 35px;
  color: #F1F3F9;
  cursor: pointer;
}
.footer-li{
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}


/* connect wallet modal */
.overLay{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 1021px;
 top: 0;
 left: 0;
 z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(64, 64, 64, 0.3);
}

.modal-container{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 600px;
  height: 420px;
  left: 420px;
  top: 347px;

  background: #FFFFFF;
  border-radius: 16px;
}

.modal-heading{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  /* gap: 386px; */
  width: 600px;
  height: 78px;

  align-self: stretch;
  border-bottom: 1px solid #CFD8DC;

}
.modal-heading p{
  width: 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.modal-heading img{
  width: 24px;
  height: 24px;
}

.modal-body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* height: 80%; */
  /* justify-content: space-between; */
  align-items: flex-start;
  padding: 32px;
  gap: 16px;
  width: 600px;
  height: 310px;
}
.modal-body p{
  color: #333333;
  font-size: 16px;
  line-height: 20px;
}

.modal-body div{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  gap: 135px;

  width: 536px;
  height: 68px;

  background: #F8F9FA;
/* DTC Mid Gray */

  border: 1px solid #CFD8DC;
  border-radius: 12px;
}

.modal-body div section{
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: 40%;
  text-align: left;
}

.modal-body div img{
  width: 20px;
  height: 20px;
}
.modal-body div section img{
  width: 44px;
  height: 44px;
}
.modal-body section p{
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
}


/* media queries */
@media screen and (max-width: 1299px) {
  .hero-title{
    font-size: 52px;
    /* background-color: green; */
  }
  .hero-section{
    height: 70vh;
    margin-bottom: 20px;
  }
  .main-image img{
    width: 550px;
  }
}

@media screen and (max-width: 1219px) {
  header{
    margin-bottom: 50px;
  }
  .hero-section img{
    width: 480px;
  }
  .hero-section text{
    width: 550px;
  }
  .hero-title{
    font-size: 46px;
  }
  .hero-section{
    padding: 12px 16px;
  }
  .search-div {
    width: 550px;
  }
  /* .paper{
    width: 280px;
    padding: 5px 12px;
  } */
  .main-image img{
    width: 600px;
  }
}

@media screen and (max-width: 1185px) {
  .landing-page-comp{
    max-width: 1185px;
  }
}

@media screen and (max-width: 1170px) {
 header,
 .hero-section,
 .hero-div{
  width: 1090px;
 }

  .main-next .main-text{
  width: 40%;
 }
  .main-title{
  font-size: 42px;
 }
 .main-body{
  font-size: 16px;
 }
 .main-image img{
  width: 500px;
 }
}

@media screen and (max-width: 1160px) {
  .hero-section .text{
    width: 480px;
  }
  .hero-section .hero-title{
    font-size: 32px;
    width: 400px;
  }
  .hero-section .hero-para{
    font-size: 16px;
  }
  .hero-section img{
    width: 380px;
  }
  .search-div{
    width: 430px;
  }
  place-heading ul,
  .place-heading{
    gap: 0;
    justify-content: center;
    align-items: center;
  }
  .place-heading ul li{
    font-size: 16px;
  }
  .location-list{
    visibility: hidden;
  }
  .location-btn{
    width: 20%;
  }
}

@media screen and (max-width: 995px) {
  .nav-link{
    visibility: hidden;
  }
  header{
    justify-content: center;
    align-items: center;
    width:100%;
  }
  .hamburger {
    visibility: visible;
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #A02279;
    border-bottom: 0.2em solid #A02279;
}

.hamburger:before ,
.hambuger:after{
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #A02279;
}
}

@media screen and (max-width: 880px) {
  .place-heading,
  header,
  .image-div,
  .footer-container{
    width: 720px;
  }
}