@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;600;700&display=swap');

:root{
  box-sizing: border-box;
  --primary: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  --secondaryText: #434343;
  font-family: 'Red Rose', cursive;
}
body{
  max-width: 1440px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
}

header,
.hero-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
header{
  margin-bottom: 12vh;
}
header img{
  height: 20px;
}

header ul{
  display: flex;
  align-items: flex-start;
padding: 0px;
gap: 48px;
}
header ul li,
header button{
  list-style: none;
  color: var(--secondaryText);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
}

header button{
  background: var(--primary);
  color: #FFFFFF;

  width: 170px;
  height: 48px;
  font-weight: 400;
  border-radius: 10px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  font-family: 'Red Rose', cursive;
}

/* hero section */
.hero-section{
  justify-content: center;
  align-items: center;
  gap: 55px;
  height: 65vh;
  margin-bottom: 10vh;
}
.hero-section .text{
  width: 50%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 0px;
 
  
}
.hero-title{
  font-weight: 400;
  font-size: 56px;
  line-height: 78.4px;
  letter-spacing: -2;
  color: var(--secondaryText);
  margin: 0;
  line-height: 140%;
}
span.span{
  font-family: 'Red Rose';
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.02em;

  /* MAJOR */
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.hero-para{
  font-size: 24px;
  line-height: 35px;
  width: 90%;
  color: var(--secondaryText);
  font-weight: 400;
}
.hero-section img{
  height: 420px;
}

.search-div{
display: flex;

  height: 54px;
  width: 618.71px;
  /* border: 1px solid var(--secondaryText); */
}

.search-div input{
  max-height: 54px !important;
  width: 390px;
  border-radius: 8px 0px 0px 8px;

  border: 1px solid #A3A3A3;
}

.search-div input:placeholder-shown{
  font-size: 14px;
  line-height: 18.2px;
  padding-left: 10px;
  color:  #B8B8B8;
  font-family: 'Red Rose';
}
.search-div button{
  height: 54px;
  width: 230px;
  font-family: 'Red Rose';
  background: var(--primary);
  color: #FFFFFF;
  border: none;
  border-radius: 0px 8px 8px 0px;

  font-size: 16px;
  line-height: 19.2px;
  padding: 0;
}

/* hero division */
.hero-div {
  max-width: 1440px;
  height: 40px;
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 264px;
  padding: 8px 100px;
}
.hero-div img{
  height: 30px;
}

/* landing page main content */
.landing-title{
  font-family: 'Red Rose';
  font-weight: 700;
  line-height: 60px;
  font-size: 48px;
  color: #000000;
  text-align: center;
}

/* image List */
.image-div {
  display: flex; 
  justify-content: center; 
  gap: 14px;
}
.image-div img{
  height: 270px;
}

.paper{
  border-radius: 8px;
  padding: 15px 18px;
  margin: 10px;
}